<ul class="ch-grid" id="clients">
  <% content.each do |client| %>
    <li>
      <div class="ch-item">
        <noindex>
          <div class="ch-info">
            <div class="ch-info-front">
              <img class="img-rounded" src="/images/<%= client[:logo] %>"/>
            </div>
            
            <div class="ch-info-back">
              <h4><%= client[:name] %></h4>
              <p><%= client[:description] %></p>

              <% client[:projects].each do |project| %>
                <a class="label label-info" href="<%= project[:url] %>"><%= project[:name] %></a>
              <% end %>
            </div>
          </div>
        </noindex>
      </div>
    </li>
  <% end %>
</ul>
