!!!
%html
  %head
    %title Dmitry Demenchuk \ Web Developer
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    = render 'partials/stylesheets'.to_sym
    = render 'partials/javascripts'.to_sym
  %body{onload: "prettyPrint()"}
    = render 'partials/forkme'.to_sym
    .container
      .page-header
        %h1
          %a{href:'/'} Dmitry Demenchuk
          =render 'partials/navigation'.to_sym

      = yield

      %hr
      %footer.footer
        .row
          .col{class:'col-lg-6'}
            %a{:href => 'http://demenchuk.me'}
              %img{:src => "/images/signature.png"}

          .social.col{class:'col-lg-6 text-right'}= render 'partials/social'.to_sym
