.row-fluid
  #about.span2
    %img.img-thumbnail{:src => "/images/demenchuk.jpg"}

    %blockquote
      %small I'm a Software Engineer with over 5 years of experience in web development.

  .span10
    = render 'partials/technology'.to_sym

    %hr
    .progress.progress-striped
      .progress-bar.progress-bar-info{:style => "width: 30%;"} Frontend
      .progress-bar.progress-bar-success{:style => "width: 50%;"} Backend
      .progress-bar.progress-bar-danger{:style => "width: 20%;"} System Administration

= @skills

%h3 Open Source Projects
.row-fluid
  .span10
    .span6= @opensourceDrupal
    .span6= @opensourceGeneral
  .span2
    %blockquote
      %small Proin blandit laoreet quam a consectetur. Phasellus ut dui et metus iaculis pulvinar. Pellentesque molestie, turpis non sodales tincidunt, nunc nisi consequat massa, ac tempor lorem lorem ut velit.

%h3 Worked For/With
.row-fluid
  .span2
    %blockquote.pull-right
      %small Donec aliquet dictum facilisis. Pellentesque diam urna, vehicula eu vehicula eget, pretium vel libero. Pellentesque ornare eleifend magna, a consectetur nisl bibendum sit amet.

  .span10= @clients
