.row
  #about.col.col-lg-2.col-md-2.col-sm-3
    %img.img-thumbnail{src: "/images/demenchuk.jpg"}

  .col.col-lg-10.col-md-10.col-sm-9= render :'partials/social'

%h3 I'm mostly focusing on
.row
  .col.col-lg-3.col-md-3.col-sm-3.col-xs-6.text-center
    %img.img-circle.img-responsive.center-block{src: "/images/logos/php.png", title: 'PHP', width: '150'}
    %a.label.label-info{ href: 'http://drupal.org' } Drupal

  .col.col-lg-3.col-md-3.col-sm-3.col-xs-6.text-center
    %img.img-circle.img-responsive.center-block{src: "/images/logos/ruby.png", title: 'Ruby', width: '150'}
    %a.label.label-info{ href: 'http://rubyonrails.org' } Ruby on Rails
    %a.label.label-info{ href: 'http://sinatrarb.com' } Sinatra
    %a.label.label-info{ href: 'http://scorchedrb.com/' } Scorched

  .col.col-lg-3.col-md-3.col-sm-3.col-xs-6.text-center
    %img.img-circle.img-responsive.center-block{src: "/images/logos/js.png", title: 'Java Script', width: '150'}
    %a.label.label-info{ href: 'http://jquery.com' } jQuery
    %a.label.label-info{ href: 'http://angularjs.org' } AngularJS
    %a.label.label-info{ href: 'http://ionicframework.com/' } ionic

  .col.col-lg-3.col-md-3.col-sm-3.col-xs-6.text-center
    %img.img-circle.img-responsive.center-block{src: "/images/logos/linux.png", title: 'Linux', width: '150'}
    %a.label.label-info{ href: 'http://puppetlabs.com' } Puppet

%h3 Open Source Projects
.row
  .col.col-lg-10
    - Demenchuk::OPEN_SOURCE.keys.each do |key|
      .col.col-lg-6.col-md-6.col-sm-6= render :'partials/opensource', locals: { content: Demenchuk::OPEN_SOURCE[key] }
  .col.col-lg-2.visible-lg
    %blockquote
      %small I am involved in Open Source projects, I love to contribute completed solutions and grow them separately with the help of quality feedbacks from another specialists.

%h3 Worked For/With
.row
  .col.col-lg-2.visible-lg
    %blockquote.pull-right
      %small Donec aliquet dictum facilisis. Pellentesque diam urna, vehicula eu vehicula eget, pretium vel libero. Pellentesque ornare eleifend magna, a consectetur nisl bibendum sit amet.

  .col.col-lg-10.col-md-12= render :'partials/clients', locals: { content: Demenchuk::CLIENTS }

.row
  .col.col-lg-6.col-md-6
    %h3 Courses
    = render :'partials/courses', locals: { content: Demenchuk::COURSES }

  .col.col-lg-6.col-md-6
    %h3 Conferences
    = render :'partials/courses', locals: { content: Demenchuk::CONFERENCES }
