<div class="row">
  <div class="col-sm-7" id="about">
    <div class="panel panel-default">
      <div class="panel-body">

        <div class="row">
          <div class="col-md-4">
            <img class="img-thumbnail" src="/images/demenchuk.jpg"/>
          </div>

          <div class="col-md-8">
            <p class="lead"><kbd>I'm Full Stack Developer.</kbd></p>
            <p class="lead">Have more than <abbr title="since 2002"><%= Time.now.year - 2002 %> years</abbr> of experience in programming and <abbr title="since 2008"><%= Time.now.year - 2008 %> years</abbr> out of this period - working as web developer.</p>
          </div>
        </div>

        <ul class="list-inline text-center">
          <li><img class="img-responsive" src="/images/logos/php.png" title="PHP" width="120"/></li>
          <li><img class="img-responsive" src="/images/logos/ruby.png" title="Ruby" width="80"/></li>
          <li><img class="img-responsive" src="/images/logos/javascript.png" title="Java Script" width="80"/></li>
          <li><img class="img-responsive" src="/images/logos/drupal.png" title="Drupal" width="80"/></li>
          <li><img class="img-responsive" src="/images/logos/rails.png" title="Ruby on Rails" width="80"/></li>
          <li><img class="img-responsive" src="/images/logos/angularjs.png" title="AngularJS" width="80"/></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-sm-5">
    <%= render :'partials/social' %>
    <p class="lead">If you've found my work particularly useful and want to say <strong>thank you</strong>, there's a wide range of stuff I'd welcome on my wish list (<a href="http://www.amazon.co.uk/registry/wishlist/17E9ZXK45NTTU">UK</a>) (<a href="http://amzn.com/w/Q4VIZVMOL8OG">US</a>).</p>
  </div>

</div>

<div class="row">
  <div class="col-md-10">
    <h3>I <i class="fa fa-heart"></i> open-source</h3>
    <blockquote>I’m an active member of open source developers’ community. Bellow are some of projects I worked on:</blockquote>
    <dl class="dl-horizontal">
      <dt>General</dt>
      <dd><%= render :'partials/opensource', locals: { content: Demenchuk::OPEN_SOURCE[:general] } %></dd>
      <dt>Drupal</dt>
      <dd><%= render :'partials/opensource', locals: { content: Demenchuk::OPEN_SOURCE[:drupal] } %></dd>
    </dl>
  </div>

  <div class="col-md-2">
    <img alt="Drupal Association Individual Member" src="/images/association_ind_member_badge.svg" width="140"/>
    <p><small>I help support and grow the Drupal community with the <a href="https://association.drupal.org/">Drupal Association.</a></small></p>
  </div>
</div>

<h3>Worked with/for</h3>
<%= render :'partials/clients', locals: { content: Demenchuk::CLIENTS } %>

<div class="row">
  <div class="col-md-6">
    <h3>Courses</h3>
    <%= render :'partials/courses', locals: { content: Demenchuk::COURSES } %>
  </div>

  <div class="col-md-6">
    <h3>Conferences</h3>
    <%= render :'partials/courses', locals: { content: Demenchuk::CONFERENCES } %>
  </div>
</div>
