.row
  #about.col-lg-7.col-md-7.col-sm-7
    .panel.panel-default
      .panel-body
        .row
          .col-lg-4.col-md-4
            %img.img-thumbnail{src: "/images/demenchuk.jpg"}

          .col-lg-8.col-md-8
            %p.lead
              %kbd I'm Full Stack Developer.
            %p.lead Have more than 12 years of experience in programming and 6 years out of this period - working as web developer.

        %ul.list-inline.text-center
          %li
            %img.img-responsive{src: "/images/logos/php.png", title: 'PHP', width: '120'}
          %li
            %img.img-responsive{src: "/images/logos/ruby.png", title: 'Ruby', width: '80'}
          %li
            %img.img-responsive{src: "/images/logos/javascript.png", title: 'Java Script', width: '80'}
          %li
            %img.img-responsive{src: "/images/logos/drupal.png", title: 'Drupal', width: '80'}
          %li
            %img.img-responsive{src: "/images/logos/rails.png", title: 'Ruby on Rails', width: '80'}
          %li
            %img.img-responsive{src: "/images/logos/angularjs.png", title: 'AngularJS', width: '80'}

  .col-lg-5.col-md-5.col-sm-5= render :'partials/social'

%h3 I ♥ Open Source
.row
  .col.col-lg-10
    - Demenchuk::OPEN_SOURCE.keys.each do |key|
      .col.col-lg-6.col-md-6.col-sm-6= render :'partials/opensource', locals: { content: Demenchuk::OPEN_SOURCE[key] }
  .col.col-lg-2.visible-lg
    %blockquote
      %small I’m an active member of open source developers’ society. Helping to develop everything what I use.

%h3 Worked For/With
.row
  .col.col-lg-2.visible-lg
    %blockquote.pull-right
      %small Donec aliquet dictum facilisis. Pellentesque diam urna, vehicula eu vehicula eget, pretium vel libero. Pellentesque ornare eleifend magna, a consectetur nisl bibendum sit amet.

  .col.col-lg-10.col-md-12= render :'partials/clients', locals: { content: Demenchuk::CLIENTS }

.row
  .col.col-lg-6.col-md-6
    %h3 Courses
    = render :'partials/courses', locals: { content: Demenchuk::COURSES }

  .col.col-lg-6.col-md-6
    %h3 Conferences
    = render :'partials/courses', locals: { content: Demenchuk::CONFERENCES }
