.row
  #about.col{class:'col-lg-2'}
    %img.img-thumbnail{:src => "/images/demenchuk.jpg"}

    %blockquote
      %small I'm a Software Engineer with over 5 years of experience in web development.

  .col{class:'col-lg-10'}
    = render :'partials/technology'

    %hr
    .progress.progress-striped
      - Demenchuk::SKILLS.select{|s| s[:percentage]}.each_with_index do |skill, i|
        .progress-bar{class: "progress-bar-#{%w(info success danger)[i]}", :style => "width: #{skill[:percentage]};"}= skill[:name]

.row.skills
  = render :'partials/skills', locals: { content: Demenchuk::SKILLS }
  .col{class:'col-lg-2'}
    %blockquote
      %small Description:
      %span.label.expert Expert krowledge
      %span.label.widely Widely using
      %span.label.familiar Familiar

%h3 Open Source Projects
.row
  .col{class:'col-lg-10'}
    - Demenchuk::OPEN_SOURCE.keys.each do |key|
      .col{class:'col-lg-6'}= render :'partials/opensource', locals: { content: Demenchuk::OPEN_SOURCE[key] }
  .col{class:'col-lg-2'}
    %blockquote
      %small I am involved in Open Source projects, I love to contribute completed solutions and grow them separately with the help of quality feedbacks from another specialists.

%h3 Worked For/With
.row
  .col{class:'col-lg-2'}
    %blockquote.pull-right
      %small Donec aliquet dictum facilisis. Pellentesque diam urna, vehicula eu vehicula eget, pretium vel libero. Pellentesque ornare eleifend magna, a consectetur nisl bibendum sit amet.

  .col{class:'col-lg-10'}= render :'partials/clients', locals: { content: Demenchuk::CLIENTS }

%h3 Conferences/Courses
.row
  .col{class:'col-lg-6'}= render :'partials/courses', locals: { content: Demenchuk::COURSES }
  .col{class:'col-lg-6'}
    %blockquote
      %small Praesent metus leo, eleifend sed gravida ac, pellentesque sed risus. Nullam dui justo, eleifend ut tellus nec, sollicitudin rhoncus neque. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu neque purus. Maecenas orci lacus, porta in dictum eget, facilisis eget neque. Nam ut eros sapien.
